@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.Account {
  margin: $space-2;
  padding: $space-1;
  width: fit-content;
  box-shadow: $shadow-1;
  position: relative;
  height: fit-content;

  @include sm {
    margin: $space-2 $space-1;
    font-size: 5rem;
  }

  .activePin {
    background-color: $color-green;
    height: 1rem;
    width: 1rem;
    border-radius: 0.5rem;
    margin-top: -$space-2;
    margin-left: -$space-2;
  }

  .inactivePin {
    @extend .activePin;

    background-color: $color-red;
  }
}
