@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.ErrorCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: $space-1;
  text-align: center;

  img {
    height: 9rem;
    margin-bottom: $space-4;

    @include sm {
      height: 7rem;
    }
  }
  h3 {
    margin-bottom: $space-3;
  }
}
