@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";

.SearchForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: $space-1;
  padding-bottom: $space-2;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-border;

  h1 {
    margin: $space-2;
  }

  @include sm {
    padding-bottom: $space-1;
    margin: 0;

    h1 {
      margin: $space-0;
    }
  }
}

.SearchFormContainer {
  display: flex;
  justify-content: center;

  @include md {
    flex-direction: column;
  }
}

.inputsContainer {
  margin: $space-0 $space-2;

  @include sm {
    margin: 0.7rem;
  }
}

.btnsContainer {
  display: flex;
  align-items: center;

  @include md {
    justify-content: center;
  }
}
