@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.UserInfoContainer {
  display: flex;
  justify-content: space-between;
  padding: $space-2;
  align-items: center;

  @include sm {
    flex-direction: column;
    padding-top: $space-2;
    padding-bottom: $space-1;

    p {
      margin-bottom: $space-0;
    }
  }
}

.UserImgContainer {
  display: flex;
  align-items: center;

  @include sm {
    flex-direction: column;
  }

  img {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    box-shadow: $shadow-1;
    align-self: flex-end;
    margin-right: $space-1;

    @include sm {
      flex-direction: column;
      margin-bottom: $space-1;
    }
  }
}
