@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";

.UserInfoContainer {
  display: flex;
  justify-content: space-between;
  padding: $space-2;
  align-items: center;

  @include sm {
    p {
      font-size: $font-xs;
    }
  }
}

.UserImgContainer {
  display: flex;
  align-items: center;

  img {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
    box-shadow: $shadow-1;
    align-self: flex-end;
    margin-right: $space-1;

    @include sm {
      height: 2rem;
      width: 2rem;
      align-self: center;
    }
  }
}
